
#wb_header { background-color: transparent; }
#wb_header:before { background: transparent none repeat left top; background-size: auto auto; opacity: 1; }
#wb_main #page_1 { background-color: transparent; }
#wb_main #page_1:before { background: transparent none repeat-x left top; background-size: auto auto; opacity: 1; }
#wb_main #page_2 { background-color: #ededed; }
#wb_main #page_2:before { background: transparent none repeat left top; background-size: auto auto; opacity: 1; }
#wb_main #page_3 { background-color: transparent; }
#wb_main #page_3:before { background: transparent none repeat-x left top; background-size: auto auto; opacity: 1; }
#wb_footer { background-color: transparent; }
#wb_footer:before { background: transparent none repeat-x scroll left top; }
body { background-color: transparent; }
body.site:before { background: transparent url("../gallery_gen/61b289127e86651f58283068c7032a07.jpg") repeat-x scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 100%; min-height: 100%; }
.root { box-sizing: border-box; width: 100%; }
.root > div > .wb_cont_inner_rel { padding-left: 15px; padding-right: 15px; }
#wb_cs_row_1 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 0px; }
#wb_cs_col_2 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_2:first-child { margin-top: 0; }
#wb_element_instance6 { z-index: 227; height: 290px; min-height: 1px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; padding: 15px; }
#wb_element_instance6 > .wb-elm-ch-wrp { position: relative; z-index: 3; }
#wb_element_instance6 > .wb_shp { display: block; background-color: rgba(255, 255, 255, 1); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance6 > .wb_shp:before { background: transparent url("gallery/rawpixel-com-589084-unsplash-ts1522907992.jpg") repeat fixed center top; background-size: auto auto; opacity: 1; }
#wb_cs_row_3 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 0px; }
#wb_element_instance7 { z-index: 244; height: 581px; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 1px none #000000; box-sizing: border-box; overflow: hidden; min-height: 1px; min-width: 253px; max-width: 2532px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance7 span { position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; background: repeat center top; background-size: cover; }
#wb_element_instance7 img { width: 100%; height: 100%; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_row_4 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: -501px; float: left; padding-bottom: 0px; }
#wb_cs_col_5 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_5:first-child { margin-top: 0; }
#wb_element_instance4 { z-index: 296; opacity: 1; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_cs_row_6 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: -411px; float: left; padding-bottom: 0px; }
#wb_cs_col_7 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_7:first-child { margin-top: 0; }
#wb_element_instance5 { z-index: 297; opacity: 1; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_cs_row_8 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: -581px; float: left; padding-bottom: 0px; }
#wb_cs_row_9 { padding-left: 0; padding-right: 0; padding-top: 15px; margin-top: 0px; float: left; padding-bottom: 8px; }
#wb_cs_col_10 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_10:first-child { margin-top: 0px; }
#wb_element_instance3 { z-index: 450; opacity: 1; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_cs_row_11 { padding-left: 0; padding-right: 0; padding-top: 15px; margin-top: 0px; float: left; padding-bottom: 15px; }
#wb_cs_col_12 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 1px; }
#wb_cs_col_12:first-child { margin-top: 1px; }
#wb_element_instance2 { z-index: 429; opacity: 1; min-width: 73px; height: 52px; min-height: 1px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance2 i { position: absolute; left: 0px; top: 0px; width: 73px; height: 52px; font-size: 52px; text-align: center; }
#wb_cs_col_13 { width: 77.966101694915%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_13:first-child { margin-top: 0; }
#wb_element_instance1 { z-index: 427; opacity: 1; min-height: 24px; width: 56.521739130435%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_cs_col_14 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; max-width: 40px; min-width: 40px; }
#wb_cs_col_14:first-child { margin-top: 0; }
#wb_element_instance0 { z-index: 628; min-height: 54px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance0 .btn-collapser { display: inline-block; margin-top: 12.5px; background-color: #e8e8e8; border-color: #000000; }
#wb_element_instance0.collapse-expanded > ul { position: fixed; left: 0px; width: 100%; display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance0 .btn-collapser > .icon-bar { background-color: #000000; }
#wb_element_instance0 .btn-collapser:hover { background-color: #ffcc00; border-color: #000000; }
#wb_element_instance0 .btn-collapser:hover > .icon-bar { background-color: #000000; }
#wb_element_instance0 ul { background: #e8e8e8 none repeat left top; border: 1px none #000000; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded li > ul { position: static; }
#wb_element_instance0.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance0.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: center; }
#wb_element_instance0 ul ul { background: #ffcc00 none repeat left top; }
#wb_element_instance0 li { margin: 10px 5px 10px 5px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 12px Josefin Sans,sans-serif; text-decoration: none; color: #000000; line-height: 14px; background: transparent none repeat left top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 12px Josefin Sans,sans-serif; text-decoration: none; color: #000000; line-height: 14px; background: #ffcc00 none no-repeat center bottom; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 12px Josefin Sans,sans-serif; text-decoration: none; color: #000000; line-height: 14px; background: #ffcc00 none no-repeat center bottom; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_cs_row_15 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_16 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_16:first-child { margin-top: 0; }
#wb_element_instance9 { z-index: 33998; opacity: 1; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_cs_row_17 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_18 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_18:first-child { margin-top: 0; }
#wb_element_instance8 { z-index: 33996; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 1px none #000000; box-sizing: border-box; overflow: hidden; height: auto; min-height: 1px; min-width: 135px; max-width: 751px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance8 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_row_19 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 0px; }
#wb_cs_col_20 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_20:first-child { margin-top: 0; }
#wb_element_instance14 { z-index: 6664; height: 1290px; min-height: 1px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance14 > .wb_shp { width: 100%; height: 1290px; display: block; background-color: rgba(242, 242, 242, 1); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance14 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_cs_row_21 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: -1220px; float: left; padding-bottom: 0px; }
#wb_cs_col_22 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_22:first-child { margin-top: 0; }
#wb_element_instance10 { z-index: 6668; opacity: 1; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_cs_row_23 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: -1150px; float: left; padding-bottom: 0px; }
#wb_cs_col_24 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_24:first-child { margin-top: 0; }
#wb_element_instance11 { z-index: 6667; opacity: 1; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_cs_row_25 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: -850px; float: left; padding-bottom: 0px; }
#wb_cs_col_26 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_26:first-child { margin-top: 0; }
#wb_element_instance12 { z-index: 6665; min-height: 1px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance12 form td { text-align: right; }
#wb_element_instance12 form tr.area-row > th { height: 1%; }
#wb_element_instance12 form tr.area-row > td { height: 1%; }
#wb_element_instance12 form tr.form-footer > td { height: auto; }
#wb_element_instance12 form .form-area-field { height: 186px; }
#wb_cs_row_27 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: -430px; float: left; padding-bottom: 0px; }
#wb_cs_col_28 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_28:first-child { margin-top: 0; }
#wb_element_instance13 { z-index: 6669; height: 570px; min-height: 1px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_cs_row_29 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: -1430px; float: left; padding-bottom: 0px; }
#wb_header_bg { background: transparent url("../gallery_gen/61b289127e86651f58283068c7032a07.jpg") repeat-x scroll center top; background-size: auto auto; background-attachment: scroll; height: 120px; }
#wb_sbg_placeholder { background: transparent none repeat-x scroll left top; background-attachment: scroll; height: 120px; }
#wb_main { padding-top: 120px; }
#wb_main .wb_cont_outer { top: 120px; }
#wb_page_1_bg { height: 581px; }
#wb_page_2_bg { height: 1486px; background-color: transparent; }
#wb_page_3_bg { height: 1430px; background-color: transparent; }
#wb_bgs_cont { top: 120px; }
#wb_page_2_bg:before { background: transparent none repeat scroll center -120px; background-size: auto auto; }
#wb_page_3_bg:before { background: transparent none repeat scroll center -120px; background-size: auto auto; }
#wb_element_instance15 { z-index: 9999; }


@media (min-width: 768px) {
	.root > div > .wb_cont_inner_rel { padding-left: 20px; padding-right: 20px; }
	#wb_cs_row_1 { padding-left: 0%; padding-right: -5.2132701421801%; }
	#wb_cs_col_2 { max-width: 2532px; margin-top: 0px; }
	#wb_cs_col_2:first-child { margin-top: 0px; }
	#wb_element_instance6 { margin-top: 280px; padding: 0.01px; padding-bottom: 0px; }
	#wb_element_instance6 > .wb-elm-ch-wrp { margin-top: -280px; }
	#wb_cs_row_3 { padding-left: 0%; padding-right: 0%; }
	#wb_element_instance7 { max-width: 100%; margin-top: 0px; }
	#wb_cs_row_4 { padding-left: 0.15797788309637%; padding-right: 0%; }
	#wb_cs_col_5 { max-width: 2396px; margin-top: 0px; }
	#wb_cs_col_5:first-child { margin-top: 0px; }
	#wb_element_instance4 { margin-top: 0px; }
	#wb_cs_row_6 { padding-left: 16.587677725118%; padding-right: 42.654028436019%; }
	#wb_cs_col_7 { max-width: 900px; margin-top: 0px; }
	#wb_cs_col_7:first-child { margin-top: 0px; }
	#wb_element_instance5 { margin-top: 0px; }
	#wb_cs_row_8 { padding-left: 0%; padding-right: 0%; }
	#wb_cs_row_9 { padding-top: 30px; padding-left: 0.78988941548183%; padding-right: 62.401263823065%; }
	#wb_cs_col_10 { max-width: 800px; }
	#wb_element_instance3 { margin-top: 0px; }
	#wb_cs_row_11 { padding-top: 33px; padding-bottom: 33px; padding-left: 1.5797788309637%; padding-right: 0%; }
	#wb_cs_col_12 { max-width: 168.40664711632px; min-width: 16.840664711632px; width: 7.1358748778104%; margin-left: 0.0%; }
	#wb_element_instance2 { margin-top: 0px; }
	#wb_cs_col_13 { max-width: 1170px; margin-top: 15px; min-width: 117px; width: 49.576271186441%; margin-left: 1.3387%; }
	#wb_cs_col_13:first-child { margin-top: 15px; }
	#wb_element_instance1 { margin-top: 0px; width: 100%; }
	#wb_cs_col_14 { max-width: 990px; margin-top: 0px; min-width: 99px; width: 41.949152542373%; margin-right: 0.0%; }
	#wb_cs_col_14:first-child { margin-top: 0px; }
	#wb_element_instance0 { margin-top: 0px; }
	#wb_element_instance0 ul { background: transparent none repeat left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_cs_row_15 { padding-top: 50px; padding-left: 19.036334913112%; padding-right: 19.036334913112%; }
	#wb_cs_col_16 { max-width: 1436px; margin-top: 0px; }
	#wb_cs_col_16:first-child { margin-top: 0px; }
	#wb_element_instance9 { margin-top: 0px; }
	#wb_cs_row_17 { padding-top: 50px; padding-left: 20.616113744076%; padding-right: 20.695102685624%; }
	#wb_cs_col_18 { max-width: 1354px; margin-top: 0px; }
	#wb_cs_col_18:first-child { margin-top: 0px; }
	#wb_element_instance8 { max-width: 100%; margin-top: 0px; }
	#wb_cs_row_19 { padding-left: 0%; padding-right: -2.5276461295419%; }
	#wb_cs_col_20 { max-width: 2464px; margin-top: 0px; }
	#wb_cs_col_20:first-child { margin-top: 0px; }
	#wb_element_instance14 { margin-top: 0px; padding: 0.01px; }
	#wb_cs_row_21 { padding-left: 0%; padding-right: 0%; }
	#wb_cs_col_22 { max-width: 2400px; margin-top: 0px; }
	#wb_cs_col_22:first-child { margin-top: 0px; }
	#wb_element_instance10 { margin-top: 0px; }
	#wb_cs_row_23 { padding-left: 14.218009478673%; padding-right: 12.638230647709%; }
	#wb_cs_col_24 { max-width: 1720px; margin-top: 0px; }
	#wb_cs_col_24:first-child { margin-top: 0px; }
	#wb_element_instance11 { margin-top: 0px; }
	#wb_cs_row_25 { padding-left: 13.428120063191%; padding-right: 13.428120063191%; }
	#wb_cs_col_26 { max-width: 1720px; margin-top: 0px; }
	#wb_cs_col_26:first-child { margin-top: 0px; }
	#wb_element_instance12 form .form-area-field { height: 186px; }
	#wb_element_instance12 { margin-top: 0px; }
	#wb_cs_row_27 { padding-left: 0%; padding-right: 0%; }
	#wb_cs_col_28 { max-width: 2400px; margin-top: 0px; }
	#wb_cs_col_28:first-child { margin-top: 0px; }
	#wb_element_instance13 { margin-top: 0px; }
	#wb_cs_row_29 { padding-left: 0%; padding-right: 0%; }
}

@media (min-width: 992px) {
	.root > div > .wb_cont_inner_rel { padding-left: 30px; padding-right: 30px; }
	#wb_element_instance0 ul { background: transparent none repeat left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance12 form .form-area-field { height: 186px; }
}

@media (min-width: 1200px) {
	.root > div > .wb_cont_inner_rel { max-width: 1860px; padding-left: 40px; padding-right: 40px; }
	#wb_element_instance0 ul { background: transparent none repeat left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance12 form .form-area-field { height: 186px; }
	#wb_element_instance15 { top: 74px; left: 0px; display: block; }
}

@media (max-width: 767px) {
	#wb_element_instance4 { width: auto; margin-left: 10px; margin-right: 10px; }
	#wb_element_instance5 { width: auto; margin-left: 10px; margin-right: 10px; }
	#wb_element_instance3 { width: auto; margin-left: 10px; margin-right: 10px; }
	#wb_element_instance1 { width: auto; margin-left: 10px; margin-right: 10px; }
	#wb_element_instance9 { width: auto; margin-left: 10px; margin-right: 10px; }
	#wb_element_instance10 { width: auto; margin-left: 10px; margin-right: 10px; }
	#wb_element_instance11 { width: auto; margin-left: 10px; margin-right: 10px; }
}
